<br><br>
<div class="form-group">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Sacramento|Tangerine&display=swap" rel="stylesheet">
<input type="text" class="put" [(ngModel)]=username>
<button class="butt" (click)="finduser()"  style="text-align:center">Search</button>
 </div> 
<div *ngIf="result" id="response">
  <br><br>  
<img src="{{result.avatar_url}}" alt="Justine" id="response">

<div id="names" style="margin-right: 30px;">
<p class="mb-0"><b>Username:</b>{{result.login}}</p>
<p class="mb-0"><b>Bio:</b>{{result.bio}}</p>
<p class="mb-0"><b>Repository:</b>{{result.public_repos}}</p>
<p class="mb-0"><b>Created_at:</b>{{result.created_at}}</p> 
<p class="mb-0"><b>Followers:</b>{{result. followers}}</p>
<p class="mb-0"><b>Following:</b>{{result.following}}</p>
</div>
</div>
